.my-button {
  border: 2px solid gray;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px 15px;
  cursor: pointer;
  max-width: 120px;
}

.my-button:active {
  background-color: rgba(34, 60, 80, 0.2);
  transform: scale(0.97);
}

.button-light {
  background-color: rgb(255, 255, 255);
}

.button-dark {
  background-color: darkgrey;
}